/**
 * Style the tiles in the webpage
 */

.tile-row {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;

  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: $PADDING;
    cursor: pointer;
    transition-duration: 0.5s;

    &:hover {
      opacity: 0.9;
    }

    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}